.not-found{
    background-color: aquamarine;
    font-family: 'roboto';
    font-size: 20px;
    font-weight: bold;
    border-radius: 30%;
    height: 40vh;
    padding-top: 80px;
}

@media screen and (max-width:960px){
    .not-found{
        margin: 30px;
        text-align: center;
    }
}